footer(class="pt-5 d-flex justify-content-between")
  span
    | &copy; 2022
    a(href="https://njcdd.org")
      | New Jersey Centers for Developmental Disabilities
  ul(class="nav m-0")
    li(class="nav-item")
      a(class="nav-link text-secondary" aria-current="page" href="#")
        | Privacy Policy
    li(class="nav-item")
      a(class="nav-link text-secondary" aria-current="page" href="#")
        | Terms and Conditions
