nav(id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse")
  div(class="position-sticky")
    ul(class="nav flex-column")
      li(class="nav-item")
        a(class="nav-link active" aria-current="page" href="#")
          i(class="fa-solid fa-house")
          span(class="ml-2")
            | Dashboard
      li(class="nav-item")
        a(class="nav-link" href="#")
          i(class="fa-solid fa-users-between-lines")
          span(class="ml-2")
            | Records
      li(class="nav-item")
        a(class="nav-link" href="#")
          i(class="fa-solid fa-magnifying-glass-chart")
          span(class="ml-3")
            | Reports
      li(class="nav-item")
        a(class="nav-link" href="#")
          i(class="fa-solid fa-building-flag")
          span(class="ml-3")
            | NJCDD Home Page
main(class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4")
  nav(aria-label="breadcrumb")
    ol(class="breadcrumb")
      li(class="breadcrumb-item")
        a(href="#")
          | Home
      li(class="breadcrumb-item active" aria-current="page")
        | Overview
    h1(class="h2")
      | Dashboard
    p Welcome to the NJCDD Database
    div(class="row my-4")
    div(class="row my-4")
      div(class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0")
        // Card 1
        div(class="card")
          h5(class="card-header")
            | Records
          div(class="card-body")
            h5(class="card-title")
              | 10,347
            p(class="card-text")
              | Active database records
        // Card 2
        div(class="card")
          h5(class="card-header")
            | Email Addresses
          div(class="card-body")
            h5(class="card-title")
              | 10,347
            p(class="card-text")
              | Active email addresses
        // Card 3
        div(class="card")
          h5(class="card-header")
            | Phone Numbers
          div(class="card-body")
            h5(class="card-title")
              | 10,347
            p(class="card-text")
              | Active phone numbers
div(class="row")
  div(class="col-12 col-xl-8 mb-4 mb-lg-0")
    div(class="card")
      h5(class="card-header")
        | Mailing Addresses
      div(class="card-body")
        h5(class="card-title")
          | 10,347
        p(class="card-text")
          | Active addresses

div(class="row")
  div(class="col-12 col-xl-8 mb-4 mb-lg-0")


    footer(class="pt-5 d-flex justify-content-between")
      span
        | &copy; 2022
        a(href="https://njcdd.org")
          | New Jersey Centers for Developmental Disabilities
      ul(class="nav m-0")
        li(class="nav-item")
          a(class="nav-link text-secondary" aria-current="page" href="#")
            | Privacy Policy
        li(class="nav-item")
          a(class="nav-link text-secondary" aria-current="page" href="#")
            | Terms and Conditions
