extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-12 col-lg-7")
        h2
          | ***** Under Construction *****
        h2
          | ***** ETA 21-Oct *****
        h2
          | Account Access Management
    div(class="row")
      div(class="col-12 col-lg-7")
        div(id="adminGrid")
        div(id="details")

block local_script
  script(src="js/njcdd-admin.js")
  script(type="text/x-kendo-template" id="template")
    div(id="details-container")
      h2
        | #= givenName # #= familyName #
      em
        | #= email #
      dl
        dt
          | Role: #= role #
