extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-12 col-lg-7")
        h2
          | Database Administration
    div(class="row")
      div(class="col-12 col-lg-7")
        dic(id="adminGrid")

block local_script
  script(src="js/njcdd-admin.js")
