extends layout

block local_head
  link(rel="stylesheet", href="/styles/njcdd-home.css")

block content
  div(id="njcdd-summary")
  // Templates
  script(id="contacts-card-template" type="text/x-kendo-template")
    div(class="cards-container")
      div(id="contacts-card" class="k-card k-card-horizontal border-0")
        div(class="k-card-image icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
          i(class="fa-sharp fa-solid fa-file-user fa-3x")
        div(class="k-vbox k-column")
          div(class="k-card-body")
            h2(id="card-contacts-value" class="mb-1")

  script(id="phones-card-template" type="text/x-kendo-template")
    div(class="cards-container")
      div(id="phones-card" class="k-card k-card-horizontal border-0")
        div(class="k-card-image icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
          i(class="fa-sharp fa-solid fa-phone fa-3x")
        div(class="k-vbox k-column")
          div(class="k-card-body")
            h2(id="card-phones-value" class="mb-1")

  script(id="addresses-card-template" type="text/x-kendo-template")
    div(class="cards-container")
      div(id="addresses-card" class="k-card k-card-horizontal border-0")
        div(class="k-card-image icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
          i(class="fa-sharp fa-solid fa-mailbox fa-3x")
        div(class="k-vbox k-column")
          div(class="k-card-body")
            h2(id="card-addresses-value" class="mb-1")

  script(id="v-addresses-card-template" type="text/x-kendo-template")
    div(class="cards-container")
      div(id="v-addresses-card" class="k-card k-card-horizontal border-0")
        div(class="k-card-image icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
          i(class="fa-brands fa-usps fa-3x")
        div(class="k-vbox k-column")
          div(class="k-card-body")
            h2(id="card-v-addresses-value" class="mb-1")

  script(id="emails-card-template" type="text/x-kendo-template")
    div(class="cards-container")
      div(id="emails-card" class="k-card k-card-horizontal border-0")
        div(class="k-card-image icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
          i(class="fa-regular fa-at fa-3x")
        div(class="k-vbox k-column")
          div(class="k-card-body")
            h2(id="card-emails-value" class="mb-1")

  script(id="v-emails-card-template" type="text/x-kendo-template")
    div(class="cards-container")
      div(id="v-emails-card" class="k-card k-card-horizontal border-0")
        div(class="k-card-image icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
          i(class="fa-sharp fa-solid fa-envelope-circle-check fa-3x")
        div(class="k-vbox k-column")
          div(class="k-card-body")
            h2(id="card-v-emails-value" class="mb-1")

block local_script
  script(src="/js/njcdd-home.js")
