extends layout

block content
  div(class="wrapper")
    div(class="logo")
      img(src="images/njcdd.ico" alt="NJCDD")
    div(class="text-center mt-4 name")
      | The New Jersey Council on Developmental Disabilities
    form(class="p-3 mt-3" action="/home" method="POST")
      div(class="form-field d-flex align-items-center")
        i(class="far fa-user trailing")
        input(type="email" name="email" id="email" placeholder="Email Address" autofocus="yes" required="yes", maxlength="64")
      div(class="form-field d-flex align-items-center")
        span(class="far fa-key")
          input(type="password" name="pwd" id="pwd" placeholder="Password" required="yes" maxlength="18")
      div(class=(typeof message === 'undefined' ? 'invisible' : 'alert alert-danger visible') role="alert")
        | #{message}
      button(class="btn btn-primary mt-3") Login
    hr
    a(href="/forgot")
      button(class="btn mt-3") I forgot my password
    a(href="/register")
      button(class="btn mt-3") I want to Register

block script
