extends layout

block local_head
  link(rel="stylesheet", href="/styles/njcdd-profile.css")

block content
  div(class="container")
    div(class="row")
      div(class="wrapper")
        nav(id="tabstrip")
          ul
            li(class="k-active")
              | My Profile
            li
              | My Interests
            li
              | My Details
            li
              | Contacting Me

          // Basic info and subscriptions
          div(class="cards-container")
            div(class="k-card")
              div(class="k-card-header")
                h5(class="k-card-title")
                  | My login email address, password and NJCDD Subscriptions
              div(class="k-card-body")
                div(class="profile-section")
                  div(id="basic-validation-success")
                  form(id="profile-basic")

          // Interests
          div(class="cards-container")
            div(class="k-card")
              div(class="k-card-header")
                h5(class="k-card-title")
                  | A little about my interests
              div(class="k-card-body")
                div(class="profile-section")
                  div(id="interests-validation-success")
                  form(id="profile-interests")

          // Details
          div(class="cards-container")
            div(class="k-card")
              div(class="k-card-header")
                h5(class="k-card-title")
                  | Detailed information about me
              div(class="k-card-body")
                div(class="profile-section")
                  div(id="details-validation-success")
                  form(id="profile-details")

          // Contact info
          div(class="cards-container")
            div(class="k-card")
              div(class="k-card-header")
                h5(class="k-card-title")
                  | My contact information
              div(class="k-card-body")
                div(class="profile-section")
                  div(id="contact-validation-success")
                  form(id="profile-contact")

block local_script
  script.
    const profileID = !{JSON.stringify(content.profileID)};
  script(src="/js/njcdd-profile.js")
