extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-12 col-lg-7")
        h2
          | NJCDD Profile
    div(class="row")
      // Basic Info
      div(class="k-card-deck")
        div(class="k-card k-card-horizontal")
          i(class="fa-sharp fa-solid fa-user fa-5x")
          div(class="k-vbox k-column")
            div(class="k-card-header")
              h5(class="k-card-title")
                | My NJCDD Account
              h6(class="k-card-subtitle")
                | Basic information to access NJCDD services
            div(class="k-card-body")
              p
                | Full Name:
              p
                | Email Address:
              p
                | NJCDD Subscriptions:
            div(class="k-card-actions k-card-actions-stretched k-card-actions-horizontal")
              span(class="k-card-action")
                span(class="k-button k-button-md k-rounded-md")
                  | Edit my information
              span(class="k-card-action")
                span(class="k-button k-button-md k-rounded-md")
                  | Reset my password

        // Details
        div(class="k-card k-card-horizontal")
          i(class="fa-sharp fa-solid fa-user-plus fa-5x")
          div(class="k-vbox k-column")
            div(class="k-card-header")
              h5(class="k-card-title")
                | My Details
              h6(class="k-card-subtitle")
                | Details about me
            div(class="k-card-body")
              p
                | Birthdate:
              p
                | Gender:
              p
                | Languages:
              p
                | Pronouns:
              p
                | Marital Status:
            div(class="k-card-actions k-card-actions-stretched k-card-actions-horizontal")
              span(class="k-card-action")
                span(class="k-button k-button-md k-rounded-md")
                  | Edit my details

        // Contact Info
        div(class="k-card k-card-horizontal")
          i(class="fa-sharp fa-solid fa-message-arrow-up-right fa-5x")
          div(class="k-vbox k-column")
            div(class="k-card-header")
              h5(class="k-card-title")
                | Contact me
              h6(class="k-card-subtitle")
                | My online contact information
            div(class="k-card-body")
              p
                | Email Addresses:
              p
                | Phone Numbers:
              p
                | Social Media Names:
            div(class="k-card-actions k-card-actions-stretched k-card-actions-horizontal")
              span(class="k-card-actions")
                span(class="k-button k-button-sm k-rounded-sm")
                  | Edit my contact info

        // Mailing Addresses
        div(class="k-card k-card-horizontal")
          i(class="fa-sharp fa-solid fa-mailbox fa-5x")
          div(class="k-vbox k-column")
            div(class="k-card-header")
              h5(class="k-card-title")
                | Mailing Address
              h6(class="k-card-subtitle")
                | My mailing address or addresses
            div(class="k-card-body")
              p
                | Work Address:
              p
                | Home Address:
            div(class="k-card-actions k-card-actions-stretched k-card-actions-horizontal")
              span(class="k-card-action")
                span(class="k-button k-button-md k-rounded-md")
                  | Edit my addess info
