extends layout

block local_head
  link(rel="stylesheet", href="/styles/njcdd-search.css")

block content
  div(id="searchContainer" class="container col-12 col-lg-7")
    div(id="searchScopePanel")
      div(id="searchScope")
    div(id="searchGrid")

block local_script
  script(src="/js/njcdd-search.js")
