/*
 * Copyright © 2022 Anthony Software Group, LLC • All Rights Reserved
 */


body {
    background-color: #20B2AA;
}

footer {
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #166b65;
}

/* Required for compatability between FontAwesome and KendoUI */
.fa.k-sprite,
.fa.k-sprite::before {
    font-size: 12px;
    line-height: 12px;
}

.container {
    min-width: 95%;
    padding: 0 15px;
}

.navbar {
    height: 70px;
}

.navbar-img {
    height: 60px;
    width: 200px;
}
